[project]
	description = dita-ot plugins
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Scot Marvin (smarvin)
[access "refs/for/refs/*"]
	read = group user/Scot Marvin (smarvin)
	push = group user/Scot Marvin (smarvin)
	label-Code-Review = -2..+2 group user/Scot Marvin (smarvin)
	label-Verified = -1..+1 group user/Scot Marvin (smarvin)
	rebase = group user/Scot Marvin (smarvin)
	removeReviewer = group user/Scot Marvin (smarvin)
	submit = group user/Scot Marvin (smarvin)
[access "refs/heads/*"]
	read = group user/Scot Marvin (smarvin)
	create = group user/Scot Marvin (smarvin)
	push = +force group user/Scot Marvin (smarvin)
	pushMerge = group user/Scot Marvin (smarvin)
[access "refs/tags/*"]
	push = +force group user/Scot Marvin (smarvin)
	pushTag = group user/Scot Marvin (smarvin)
	pushSignedTag = group user/Scot Marvin (smarvin)
